{{define "yield"}}
<h1>Thanks for reaching out!</h1>
<div class="well">
  <form action="/todo">
    <div class="form-group">
      <label for="email">Your Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email address">
    </div>
    <div class="form-group">
      <label for="message">message</label>
      <input type="textarea" class="form-control" id="message" placeholder="Enter your message here">
    </div>
  </form>
</div>
{{end}}
