<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-button {width:150px;}
</style>
<body>

<div class="w3-container">
  <h2>Button Colors</h2>
  <p>
  <button class="w3-button w3-red">Red</button>
  <button class="w3-button w3-pink">Pink</button>
  <button class="w3-button w3-purple">Purple</button>
  <button class="w3-button w3-deep-purple">Deep Purple</button>
  <button class="w3-button w3-indigo">Indigo</button>
  </p>

  <p>
  <button class="w3-button w3-blue">Blue</button>
  <button class="w3-button w3-light-blue">Light Blue</button>
  <button class="w3-button w3-cyan">Cyan</button>
  <button class="w3-button w3-aqua">Aqua</button>
  <button class="w3-button w3-teal">Teal</button>
  </p>

  <p>
  <button class="w3-button w3-green">Green</button>
  <button class="w3-button w3-light-green">Light Green</button>
  <button class="w3-button w3-lime">Lime</button>
  <button class="w3-button w3-sand">Sand</button>
  <button class="w3-button w3-khaki">Khaki</button>
  </p>

  <p>
  <button class="w3-button w3-yellow">Yellow</button>
  <button class="w3-button w3-amber">Amber</button>
  <button class="w3-button w3-orange">Orange</button>
  <button class="w3-button w3-deep-orange">Deep Orange</button>
  <button class="w3-button w3-brown">Brown</button>
  </p>

  <p>
  <button class="w3-button w3-blue-grey">Blue Grey</button>
  <button class="w3-button w3-light-grey">Light Grey</button>
  <button class="w3-button w3-grey">Grey</button>
  <button class="w3-button w3-dark-grey">Dark Grey</button>
  <button class="w3-button w3-black">Black</button>
  </p>

  <p>
  <button class="w3-button w3-pale-red">Pale-red</button>
  <button class="w3-button w3-pale-yellow">Pale-yellow</button>
  <button class="w3-button w3-pale-green">Pale-green</button>
  <button class="w3-button w3-pale-blue">Pale-blue</button>
  </p>        
</div>

</body>
</html>
