{{template "html-start".}}
<style type="text/css">
  .about {color: red;}
</style>
{{template "body-start".}}

{{.Data.Message}}

<script type="text/javascript">
  $(document).ready(function() {
    console.log('Document Ready');
  });
</script>

{{template "body-end"}}
{{template "html-end"}}
