{{- define "html-start" -}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="jquery.min.js"></script>
{{- end -}}

{{- define "body-start" -}}
</head>
<body>
{{- end -}}

{{- define "body-end" -}}
</body>
{{- end -}}

{{- define "html-end" -}}
</html>
{{- end -}}
